.list-container {
    width: 670px;
    height: 990px;
    margin-top: 33px;
    background-color: coral;
    border-radius: 6px;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    overflow: scroll;
    padding-top: 25px;
}

.list-container::-webkit-scrollbar {
    display: none;
}